---
layout: archive
permalink: /algorithm/
title: "Algorithm"
author_profile: false
---

{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

{% for collection in site.collections %}
  {% unless collection.output == false or collection.label != "algorithm" %}
    {% capture label %}{{ collection.label }}{% endcapture %}
    {% if label != written_label%}
      {% capture written_label %}{{ label }}{% endcapture %}
    {% endif %}
  {% endunless %}
  {% for post in collection.docs %}
    {% unless collection.output == false or collection.label != "algorithm" %}
        {% include archive-single.html %}
    {% endunless %}
  {% endfor %}
{% endfor %}
